<div ng-controller="RecommendedContentsController as rccCtrl">
    <div class="row">
        <div ng-repeat="content in rccCtrl.data track by $index" ng-class="rccCtrl.colClass">
            <div class="row">
                <div ng-style="rccCtrl.imageStyle" class="col-md-2" ng-if="rccCtrl.displayImage">
                    <a ng-href="{{ content.url }}">
                        <img class="img-responsive center-block" ng-if="content['fields.'+rccCtrl.imageField] && !rccCtrl.titleOnly"
                             ng-src="{{rubedo.imageUrl.getUrlByMediaId(content['fields.'+rccCtrl.imageField],{mode:rccCtrl.imageResizeMode,height:rccCtrl.imageHeight,width:rccCtrl.imageWidth}) }}"
                             alt="{{ content.title }}"
                                />
                    </a>
                </div>
                <div ng-class="{'col-md-12':!rccCtrl.displayImage,'col-md-8':rccCtrl.displayImage}">
                    <h4>
                        <a ng-href="{{ content.url }}">
                            {{content.title}}
                        </a>
                    </h4>
                    <span>{{ content.lastUpdateTime*1000 | date }}</span>
                    <p ng-if="!blockConfig.showOnlyTitle" class="text-justify" ng-style="rccCtrl.summaryStyle">
                        {{content.summary}}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <paginator ng-if="blockConfig.showPager" start="rccCtrl.start" limit="rccCtrl.limit"
               count="rccCtrl.count" change-page-action="rccCtrl.changePageAction()"></paginator>
</div>