<div ng-controller="UserProfileController as userProfileCtrl">
    <div ng-if="userProfileCtrl.canEdit" class="pull-right">
        <button ng-show="!fieldInputMode" ng-click="userProfileCtrl.enterEditMode()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {{rubedo.translate("Label.Edit", "Edit")}}</button>
    </div>
    <div ng-include="userProfileCtrl.detailTemplate"></div>
    <div ng-if="fieldInputMode" class="form form-horizontal">
        <div class="form-group">
            <label for="{{fieldIdPrefix+'_password'}}" class="control-label">{{rubedo.translate('Blocks.UserProfile.Label.NewPassword','New password')}} </label>
            <div>
                <input type="password"
                       class="form-control"
                       id="{{fieldIdPrefix+'_password'}}"
                       ng-model="fieldEntity.password"
                        >
            </div>

        </div>
        <div class="form-group">
            <label for="{{fieldIdPrefix+'_confirmPassword'}}" class="control-label">{{rubedo.translate('Blocks.UserProfile.Label.NewPasswordConfirm','Confirm new password')}} </label>
            <div>
                <input type="password"
                       class="form-control"
                       id="{{fieldIdPrefix+'_confirmPassword'}}"
                       ng-model="fieldEntity.confirmPassword"
                        >
            </div>
        </div>
    </div>
    <div ng-if="userProfileCtrl.canEdit&&userProfileCtrl.hasMailingLists&&userProfileCtrl.user.type.fields">{{rubedo.translate('Blocks.UserProfile.Label.SubscribedNews', 'My subscribed newsletters')}}
        <div ng-repeat="mailingList in userProfileCtrl.mailingLists track by $index" class="checkbox">
            <label>
                <input ng-disabled="!fieldInputMode" ng-model="mailingList.checked" type="checkbox"> {{mailingList.name}}
            </label>
        </div>
    </div>
    <br>
    <div ng-show="userProfileCtrl.canEdit && fieldInputMode && userProfileCtrl.hasChanges" class="pull-right">
    	<button ng-click="userProfileCtrl.persistChanges()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> {{rubedo.translate('Edition.Label.SaveChanges','Save changes')}}</button>
        <button ng-click="userProfileCtrl.revertChanges()" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{rubedo.translate('Edition.Label.DiscardChanges','Discard changes')}}</button>
        <button ng-click="userProfileCtrl.cancelEditMode()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {{rubedo.translate("Label.Cancel", "Cancel")}}</button>
    </div>
</div>